---
interface Props {
  name: string;
  role: string;
  rating: number;
  review: string;
}

const { name, role, rating, review } = Astro.props;
---

<div
  class="w-full bg-[#111] border border-gray-700 hover:border-[#d4af37] transition-all duration-300 p-5 rounded-lg flex flex-col justify-between gap-5"
>
  <div class="flex gap-1">
    {
      Array.from({ length: rating }).map((_, index) => (
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="#d4af37"
        >
          <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z" />
        </svg>
      ))
    }
  </div>
  <p class="text-[#a0a0a0] max-w-150 leading-8">
    "{review}"
  </p>
  <div>
    <p class="text-[#d4af37] font-bold mt-5">{name}</p>
    <p class="text-[#a0a0a0] max-w-150 leading-8 text-sm!">{role}</p>
  </div>
</div>
